.profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#profile {
  font-family: Arial;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 50px;
  width: 120px;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  text-shadow: 0px 0px 2px #000000;
  margin: 3px;
}

#profile.fruit
{
  background-color: darkorange;
}

#profile.mint
{
  background-color: lightgreen;
}

#profile.bubblegum
{
  background-color: pink;
}

#profile.strawberry {
  background-color: red;
}

#profile.watermellon {
  background-color: tomato;
}

#profile.sour {
  background-color: lime;
}

#profile.sweet {
  background-color: lightcoral;
}

#profile.spearmint {
  background-color: palegreen;
}

#profile.peppermint {
  background-color: mistyrose;
}

#profile.wintermint {
  background-color: powderblue;
}

#profile.menthol {
  background-color: gray;
}

#profile.grape {
  background-color: purple;
}

#profile.apple {
  background-color: olivedrab;
}

#profile.tropical {
  background-color: deepskyblue;
}

#profile.berry {
  background-color: violet;
}

#profile.cottoncandy {
  background-color: hotpink;
}

#profile.cinnamon {
  background-color: firebrick;
}

#profile.chocolate {
  background-color: saddlebrown;
}

#profile.orange {
  background-color: orange;
}

#profile.banana {
  background-color: yellow;
}

#profile.raspberry {
  background-color: palevioletred;
}

#profile.cherry {
  background-color: red;
}

#profile.mellon {
  background-color: moccasin;
}

#profile.lemon {
  background-color: lemonchiffon;
}

#profile.peach {
  background-color: peachpuff;
}
