#dimensions {
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  background-color: white;
  z-index: 100;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Coming Soon', sans-serif;
  background-image: url("./img/background.png");
  background-attachment: fixed;
}

div#top {
  height: 20px;
  background-color: #EE5D88;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99;
}

span {
}

#header {
  position: fixed;
  height: 10%;
  width: 100%;
  text-align: center;
  z-index: 99;
}

#header h1 {
	font-family: 'Chewy', Arial, sans-serif;
	color: #EE5D88;
	text-shadow: 4px 4px 1px #96C8EB;
  margin: 0px;
  border: 0px;
  height: 100%;
  width: 100%;
  font-size: 100px;
}

#content {
  width: 100%;
  position: relative;
  top: 90px;
  margin-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gumholder {
  background-color: #F9F8F6;
	width: 300px;
	border: 10px solid #EE5D88;
	border-radius: 25px;
	box-shadow: 3px 3px 4px #000000;
  margin: 30px;
  padding: 15px 5px;
}

.images {
  display: block;
  width: 250px;
  margin: 0px auto;
  border: 5px solid pink;
  border-radius: 25px;
}

.images img {
  height: 200px;
  width: 200px;
  display: block;
  margin: 0px auto;
}

.name {
  font-family: 'Chewy', Arial, sans-serif;
  font-size: 30pt;
  margin: 0px;
  padding: 0px;
  color: #EE5D88;
  font-weight: bold;
  text-align: center;
}

.info {
  display: block;
  width: 75%;
  margin: 0px auto;
}

.info p {
  margin: 0px;
  padding: 0px;
}

.rating {
  text-align: center;
}

.info img {
  height: 25px;
  width: 25px;
}

.half {
  display: inline-block;
  width: 12.5px;
  height: 25px;
  overflow: hidden;
}

.infoholder {
  background-color: #F9F8F6;
	width: 900px;
	border: 10px solid #EE5D88;
	border-radius: 25px;
	box-shadow: 3px 3px 4px #000000;
  margin: 30px;
  padding: 15px 5px;
}

.infoholder .images {
  width: 90%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

#footer {
  background-color: #EE5D88;
  position: fixed;
  bottom: 0px;
  margin: 0px;
  padding: 0px;
  height: 70px;
  width: 100%;
  text-align: center;
}

#footer a {
  color: white;
}

#footer a:hover {
  text-decoration: none;
  font-weight: bold;
}

#footer p {
  color: #F9F8F6;
}
